* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

header {
  padding: 5.2vh;
  text-align: center;
  background-color: rgb(255, 141, 141);
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 6vw;
}

aside {
  text-align: center;
  background-color: rgb(255, 198, 198);
}

aside ul li {
  display: inline-block;
  padding-bottom: 15px;
  margin: 5px;
}

aside ul li a {
  text-decoration: none;
  padding: 8px 5px;
  border-radius: 5px;
}

aside ul li a:link {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 141, 141);
}

aside ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 87);
}

.row {
  display: flex;
}

.column {
  padding: 10px;
}

.column.side {
  flex: 0.3;
}

.column.middle {
  flex: 5;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  aside {
    padding: 10px;
    max-height: 100px;
    overflow: auto;
  }
}

main {
  display: flex;
  min-height: 100vh;
}

section {
  text-align: center;
  padding: 20px;
  padding-left: 40px;
  background-color: rgb(253, 239, 239);
}

footer {
  padding: 1vh;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 141, 141);
}

.img1 {
  max-width: 40vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img2 {
  max-width: 37.4vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img3 {
  max-width: 33.17vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img4 {
  max-width: 40vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img5 {
  max-width: 28.955vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img6 {
  max-width: 31.48vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img7 {
  max-width: 29.09vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img8 {
  max-width: 26.09vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img9 {
  max-width: 26vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img10 {
  max-width: 23.025vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img11 {
  max-width: 23.13vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img12 {
  max-width: 32.9vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img13 {
  max-width: 42.3vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img14 {
  max-width: 43.58vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img15 {
  max-width: 41.53vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img16 {
  max-width: 31.6vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img17 {
  max-width: 30.5vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img18 {
  max-width: 29.2vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img19 {
  max-width: 39.4vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img20 {
  max-width: 38.9vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img21 {
  max-width: 39.95vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img22 {
  max-width: 39.899vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img23 {
  max-width: 41.65vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img24 {
  max-width: 45.66vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img25 {
  max-width: 42.3vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.img26 {
  max-width: 39.25vw;
  min-width: 20vw;
  border: 4px solid rgb(255, 141, 141);
}

.avatar {
  vertical-align: middle;
  width: 42px;
  border-radius: 50%;
}

.avatar2 {
  vertical-align: middle;
  width: 52px;
  border-radius: 50%;
}

.avatar3 {
  vertical-align: middle;
  width: 42px;
  border-radius: 50%;
}

.avatar4 {
  vertical-align: middle;
  width: 42px;
}